#board__enemy {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 3px;
  justify-items: stretch;
  text-align: center;
  /* align-items: center; */
  width: 300px;
  background-color: pink;
}

.cell {
  background-color: lightgrey;
}