.board-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-flow: row nowrap;
}

.board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-gap: 3px;  
  text-align: center;    
  max-width: 625px;
  background-color: pink;
}

.cell {
  background-color: lightgrey;
}

.board--player1 {
  background-color: lightslategray;
}